# shellcheck disable=SC2148 # .envrc files need no shell directive

# NOTE: This file is based on https://github.com/channable/repository-template/blob/master/.envrc
# When making edits that apply to other repositories, please update the file there.

# Add possibility to run a custom envrc that completely overrides the behavior of this envrc.
CUSTOM_ENVRC=.customenvrc
if [ -f "$CUSTOM_ENVRC" ]; then
  echo "Using .customenvrc file"
  source_env $CUSTOM_ENVRC
else
  # Decrease logging output
  # shellcheck disable=SC2034 # unused variable is still read by direnv.
  DIRENV_LOG_FORMAT=
  # Install nix-direnv, which has an improved implementation of `use nix` that
  # caches the Nix environment. Note that this URL is cached locally, so it
  # doesn't fetch the script every time.
  if ! has nix_direnv_version || ! nix_direnv_version 3.0.4; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.4/direnvrc" "sha256-DzlYZ33mWF/Gs8DDeyjr8mnVmQGx7ASYqA5WlxwvBG4="
  fi

  watch_file ./nix/**/*.nix ./nix/sources.json

  use nix default.nix --argstr environment shell
fi
